In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-DA-modulo4-sprint2-Maite_Mirna-Alejandra/promoG-modulo4-sprint1-pairprogramming-Maite-Mirna-Alejandra/files_originales/archivos_originales/movies.csv", index_col = 0)
df.head()

,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
year,,,,,,,,,,,,,,
2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [3]:
df.shape[0]

1794

In [4]:
df.columns

Index(['imdb', 'title', 'test', 'clean_test', 'binary', 'budget', 'domgross',
       'intgross', 'code', 'budget_2013$', 'domgross_2013$', 'intgross_2013$',
       'period code', 'decade code'],
      dtype='object')

In [5]:
df["title"].value_counts()

Pride and Prejudice                   3
Hannibal                              2
The Illusionist                       2
Conan the Barbarian                   2
The Avengers                          2
                                     ..
In Bruges                             1
Igor                                  1
High School Musical 3: Senior Year    1
Herb &amp; Dorothy                    1
Beyond the Valley of the Dolls        1
Name: title, Length: 1768, dtype: int64

In [6]:
df["test"].value_counts()

ok                  696
notalk              379
notalk-disagree     135
men                 125
ok-disagree         107
nowomen              88
dubious              81
men-disagree         69
dubious-disagree     61
nowomen-disagree     53
Name: test, dtype: int64

In [7]:
df["clean_test"].value_counts()

ok         803
notalk     514
men        194
dubious    142
nowomen    141
Name: clean_test, dtype: int64

In [8]:
df["binary"].value_counts()

FAIL    991
PASS    803
Name: binary, dtype: int64

In [9]:
df.index.min()

1970

In [10]:
df.index.max()

2013

In [11]:
df["period code"].value_counts()

2.0    488
1.0    438
3.0    352
4.0    247
5.0     90
Name: period code, dtype: int64

In [12]:
df.sample(15)

,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
year,,,,,,,,,,,,,,
2011,tt1540133,The Guard,notalk,notalk,FAIL,6000000,5359774.0,15944629.0,2011FAIL,6214145,5551069.0,1.651370e+07,1.0,1.0
2009,tt1182345,Moon,notalk-disagree,notalk,FAIL,5000000,5010163.0,10676073.0,2009FAIL,5428658,5439692.0,1.159135e+07,2.0,2.0
2001,tt0241527,Harry Potter and the Sorcerer&#39;s Stone,ok,ok,PASS,125000000,317575550.0,974755371.0,2001PASS,164480745,417880504.0,1.282628e+09,3.0,2.0
1998,tt0120813,Safe Men,nowomen,nowomen,FAIL,1000000,21210.0,21210.0,1998FAIL,1429132,30312.0,3.031200e+04,4.0,3.0
2008,tt0942385,Tropic Thunder,nowomen,nowomen,FAIL,90000000,110461307.0,188163455.0,2008FAIL,97403068,119547447.0,2.036411e+08,2.0,2.0
1980,tt0081534,Somewhere in Time,men,men,FAIL,5100000,9709597.0,9709597.0,1980FAIL,14421616,27456486.0,2.745649e+07,NaN,NaN
2005,tt0342272,Dear Wendy,notalk,notalk,FAIL,8000000,23106.0,446438.0,2005FAIL,9544265,27566.0,5.326150e+05,2.0,2.0
2007,tt0848557,Diary of the Dead,ok,ok,PASS,2750000,952620.0,5394447.0,2007PASS,3089745,1070310.0,6.060896e+06,2.0,2.0
2003,tt0340855,Monster,ok,ok,PASS,5000000,34469210.0,58003694.0,2003PASS,6330435,43641017.0,7.343772e+07,3.0,2.0
2008,tt0482606,The Strangers,dubious-disagree,dubious,FAIL,9000000,52597610.0,83051676.0,2008FAIL,9740307,56924095.0,8.988320e+07,2.0,2.0
1997,tt0119874,The Peacemaker,dubious,dubious,FAIL,50000000,41263140.0,62967368.0,1997FAIL,72561906,59882642.0,9.138064e+07,4.0,3.0
2006,tt0400717,Open Season,notalk,notalk,FAIL,85000000,85105259.0,189901703.0,2006FAIL,98242689,98364347.0,2.194877e+08,2.0,2.0
2012,tt1781769,Anna Karenina,men-disagree,men,FAIL,49000000,12816367.0,70735540.0,2012FAIL,49717290,13003980.0,7.177101e+07,1.0,1.0
2003,tt0335266,Lost In Translation,dubious-disagree,dubious,FAIL,4000000,44585453.0,112550685.0,2003FAIL,5064348,56449060.0,1.424990e+08,3.0,2.0
2008,tt0876563,Gake no ue no Ponyo,ok,ok,PASS,34000000,15090399.0,205312666.0,2008PASS,36796715,16331680.0,2.222009e+08,2.0,2.0

In [13]:
df["clean_test"].value_counts()

ok         803
notalk     514
men        194
dubious    142
nowomen    141
Name: clean_test, dtype: int64

In [14]:
valor_actual_a_nuevo_valor = {
    'ok': 3,
    'notalk': 1,
    'men': 2,
    'dubious': "dubious",
    'no women': 0,
    "nowomen": 0}

In [15]:
df['clean_test'] = df['clean_test'].replace(valor_actual_a_nuevo_valor)

In [16]:
df["clean_test"]

year
2013    1
2012    3
2013    1
2013    1
2013    2
       ..
1971    1
1971    1
1971    1
1971    2
1970    3
Name: clean_test, Length: 1794, dtype: object

In [17]:
df.columns

Index(['imdb', 'title', 'test', 'clean_test', 'binary', 'budget', 'domgross',
       'intgross', 'code', 'budget_2013$', 'domgross_2013$', 'intgross_2013$',
       'period code', 'decade code'],
      dtype='object')

In [18]:
columnas_a_eliminar = ['test', 'code', "period code", "decade code", 'budget_2013$', 'domgross_2013$', 'intgross_2013$']

df_movies_limpio = df.drop(columnas_a_eliminar, axis=1)

In [19]:
df_movies_limpio.head()

,imdb,title,clean_test,binary,budget,domgross,intgross
year,,,,,,,
2013,tt1711425,21 &amp; Over,1,FAIL,13000000,25682380.0,42195766.0
2012,tt1343727,Dredd 3D,3,PASS,45000000,13414714.0,40868994.0
2013,tt2024544,12 Years a Slave,1,FAIL,20000000,53107035.0,158607035.0
2013,tt1272878,2 Guns,1,FAIL,61000000,75612460.0,132493015.0
2013,tt0453562,42,2,FAIL,40000000,95020213.0,95020213.0

In [20]:
df_movies_limpio['year'] = df_movies_limpio.index

In [21]:
df_movies_limpio["year"].min()

1970

In [22]:
df_movies_limpio["year"].max()

2013

In [23]:
df_movies_limpio["clean_test"].value_counts()

3          803
1          514
2          194
dubious    142
0          141
Name: clean_test, dtype: int64

In [24]:
decadas_dict = {
    '1970s': range(1970, 1980),
    '1980s': range(1980, 1990),
    '1990s': range(1990, 2000),
    '2000s': range(2000, 2010),
    '2010s': range(2010, 2020),  # Include 2019 in this decade
}

# asignar decadas
def get_decade(year):
    for decade, year_range in decadas_dict.items():
        if year in year_range:
            return decade

df_movies_limpio['década'] = df_movies_limpio['year'].apply(get_decade)

In [25]:
df_no_disponible = df_movies_limpio[df_movies_limpio['década'] == "No disponible"]

# Mostrar las filas donde 'década' es "No disponible"
print(df_no_disponible)

Empty DataFrame
Columns: [imdb, title, clean_test, binary, budget, domgross, intgross, year, década]
Index: []

In [26]:
df_movies_limpio["década"].value_counts()

2000s    840
2010s    438
1990s    337
1980s    125
1970s     54
Name: década, dtype: int64

In [27]:
df_movies_limpio["year"].isnull().any()

False

In [28]:
df_movies_limpio.head()
df_movies_limpio.tail()

,imdb,title,clean_test,binary,budget,domgross,intgross,year,década
year,,,,,,,,,
1971,tt0067741,Shaft,1,FAIL,53012938,70327868.0,107190108.0,1971,1970s
1971,tt0067800,Straw Dogs,1,FAIL,25000000,10324441.0,11253821.0,1971,1970s
1971,tt0067116,The French Connection,1,FAIL,2200000,41158757.0,41158757.0,1971,1970s
1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,2,FAIL,3000000,4000000.0,4000000.0,1971,1970s
1970,tt0065466,Beyond the Valley of the Dolls,3,PASS,1000000,9000000.0,9000000.0,1970,1970s

In [29]:
df_movies_limpio["year"].isnull().any()

False

In [ ]:
df_movies_limpio["title"].__contains__
rows_with_ampersand = df[df['column_name'].str.contains('&amp;')]
print(rows_with_ampersand)

In [30]:

df_movies_limpio.to_csv('movies_limpio.csv')