In [186]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [187]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-modulo4-sprint2-pairprogramming-Maite-Mirna-Alejandra-/files_originales/bechdel_movies_2023_FEB.csv", index_col = 0)
df.head()

,year,rating,dubious,imdbid,id,submitterid,date,visible
title,,,,,,,,
Passage de Venus,1874,0,0.0,3155794,9602,18880,2021-04-02 20:58,1
La Rosace Magique,1877,0,0.0,14495706,9804,19145,2021-05-11 0:11,1
Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,18882,2021-04-03 2:25,1
Le singe musicien,1878,0,0.0,12592084,9806,19151,2021-05-11 23:38,1
Athlete Swinging a Pick,1881,0,0.0,7816420,9816,19162,2021-05-13 1:32,1

In [188]:
df.columns

Index(['year', 'rating', 'dubious', 'imdbid', 'id', 'submitterid', 'date',
       'visible'],
      dtype='object')

In [189]:
columnas_a_eliminar = ['submitterid', 'date','visible']
df_bechdel_movies_2023_limpio = df.drop(columnas_a_eliminar, axis=1)

In [190]:
df_bechdel_movies_2023_limpio.head()

                            year  rating  dubious    imdbid    id
title
Passage de Venus            1874       0      0.0   3155794  9602
La Rosace Magique           1877       0      0.0  14495706  9804
Sallie Gardner at a Gallop  1878       0      0.0   2221420  9603
Le singe musicien           1878       0      0.0  12592084  9806
Athlete Swinging a Pick     1881       0      0.0   7816420  9816

In [191]:
df_bechdel_movies_2023_limpio["year"].max()

2023

In [192]:
# Define el diccionario de décadas
decadas_dict = {
    '1870s': range(1870, 1880),
    '1880s': range(1880, 1890),
    '1890s': range(1890, 1900),
    '1900s': range(1900, 1910),
    '1910s': range(1910, 1920),
    '1920s': range(1920, 1930),
    '1930s': range(1930, 1940),
    '1940s': range(1940, 1950),
    '1950s': range(1950, 1960),
    '1960s': range(1960, 1970),
    '1970s': range(1970, 1980),
    '1980s': range(1980, 1990),
    '1990s': range(1990, 2000),
    '2000s': range(2000, 2010),
    '2010s': range(2010, 2020),
    '2020s': range(2020, 2030),
    
}

# Asigna décadas
def get_decade(year):
    for decade, year_range in decadas_dict.items():
        if int(year) in year_range:
            return decade
    # Manejo de excepciones: si el año no está en ningún rango de décadas, devuelve un valor predeterminado
    return 'No disponible'


# Aplica la función para crear la columna 'década'
df_bechdel_movies_2023_limpio['década'] = df_bechdel_movies_2023_limpio['year'].apply(get_decade)

In [193]:
df_no_disponible = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio['década'] == "No disponible"]

# Mostrar las filas donde 'década' es "No disponible"
print(df_no_disponible)

Empty DataFrame
Columns: [year, rating, dubious, imdbid, id, década]
Index: []

In [194]:
df_bechdel_movies_2023_limpio["year"].isnull().any()

False

In [195]:
df_bechdel_movies_2023_limpio["década"].value_counts()

2010s    3391
2000s    2307
1990s    1139
1980s     700
2020s     486
1970s     465
1960s     417
1950s     306
1940s     246
1930s     207
1920s      83
1890s      67
1900s      42
1910s      26
1880s      16
1870s       4
Name: década, dtype: int64

In [196]:
df_bechdel_movies_2023_limpio.head()

                            year  rating  dubious    imdbid    id década
title
Passage de Venus            1874       0      0.0   3155794  9602  1870s
La Rosace Magique           1877       0      0.0  14495706  9804  1870s
Sallie Gardner at a Gallop  1878       0      0.0   2221420  9603  1870s
Le singe musicien           1878       0      0.0  12592084  9806  1870s
Athlete Swinging a Pick     1881       0      0.0   7816420  9816  1880s

In [197]:
df.columns

Index(['year', 'rating', 'dubious', 'imdbid', 'id', 'submitterid', 'date',
       'visible'],
      dtype='object')

In [198]:
df_bechdel_movies_2023_limpio['title'] = df_bechdel_movies_2023_limpio.index

In [199]:
df_bechdel_movies_2023_limpio.head()

,year,rating,dubious,imdbid,id,década,title
title,,,,,,,
Passage de Venus,1874,0,0.0,3155794,9602,1870s,Passage de Venus
La Rosace Magique,1877,0,0.0,14495706,9804,1870s,La Rosace Magique
Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,1870s,Sallie Gardner at a Gallop
Le singe musicien,1878,0,0.0,12592084,9806,1870s,Le singe musicien
Athlete Swinging a Pick,1881,0,0.0,7816420,9816,1880s,Athlete Swinging a Pick

In [200]:
df_bechdel_movies_2023_limpio["década"].value_counts()

2010s    3391
2000s    2307
1990s    1139
1980s     700
2020s     486
1970s     465
1960s     417
1950s     306
1940s     246
1930s     207
1920s      83
1890s      67
1900s      42
1910s      26
1880s      16
1870s       4
Name: década, dtype: int64

In [201]:
df_bechdel_movies_2023_limpio

,year,rating,dubious,imdbid,id,década,title
title,,,,,,,
Passage de Venus,1874,0,0.0,3155794,9602,1870s,Passage de Venus
La Rosace Magique,1877,0,0.0,14495706,9804,1870s,La Rosace Magique
Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,1870s,Sallie Gardner at a Gallop
Le singe musicien,1878,0,0.0,12592084,9806,1870s,Le singe musicien
Athlete Swinging a Pick,1881,0,0.0,7816420,9816,1880s,Athlete Swinging a Pick
...,...,...,...,...,...,...,...
Spider-Man: No Way Home,2021,3,1.0,10872600,10166,2020s,Spider-Man: No Way Home
Timeless,2018,3,0.0,5511582,10165,2010s,Timeless
Red Notice,2021,1,0.0,7991608,10164,2020s,Red Notice
Abbott and Costello Meet Frankenstein,1948,3,0.0,40068,10163,1940s,Abbott and Costello Meet Frankenstein
Moomins on the Riviera,2014,3,0.0,2371399,10162,2010s,Moomins on the Riviera

In [202]:
# Limpiar los títulos de las películas
def limpiar_titulo(title):
    # Eliminar comillas si están presentes
    title = title.replace('"', '')
    # Si el título termina con ", The", ajustar el formato
    if title.endswith(', The'):
        title = 'The ' + title[:-5]  # Mover "The" al principio del título
    return title

# Aplicar la función de limpieza a la columna 'titulo'
df_bechdel_movies_2023_limpio['title'] = df_bechdel_movies_2023_limpio['title'].apply(limpiar_titulo)

In [203]:
df_ver = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio["title"].str.contains("&")]
print(len(df_ver))

642

In [204]:
# Limpiar los títulos de las películas, segunda parte (&)
def limpiar_titulo(title):
    # sustituir 
    title = title.replace('&amp;', 'and')
    title = title.replace('&#39;', '´')
    title = title.replace('&eacute;', 'é')
    title = title.replace('&egrave;', 'è')
    title = title.replace('&agrave;', 'à')
    title = title.replace('&#150;&nbsp;', '-')
    title = title.replace('&#305;', 'i')
    title = title.replace('&quot;', '')
    title = title.replace('&ouml;', 'ö')
    title = title.replace('&auml;', 'ä')
    title = title.replace('&uuml;', 'ü')
    title = title.replace('#146;', '´')
    title = title.replace('&iacute;', 'í')
    title = title.replace('&eth;', 'd')
    title = title.replace('&ocirc;', 'ô')
    title = title.replace('&ucirc;', 'û')
    title = title.replace('&acute;', '´')
    title = title.replace('&frac12;', '1/2')
    title = title.replace('&ograve;', 'ò')
    title = title.replace('d&#146;', 'd´')
    title = title.replace('&ugrave;', 'ù')
    title = title.replace('&#378;', 'z')
    title = title.replace('&euml;', 'ë')
    title = title.replace('&Aacute;', 'Á')
    title = title.replace('&aacute;', 'á')
    title = title.replace('&oslash;', 'o')
    title = title.replace('&acirc;', 'â')
    title = title.replace('&#146;t', '´t')
    title = title.replace('&ntilde;', 'ñ')
    title = title.replace('&oacute;', 'ó')
    title = title.replace('&atilde;o', 'a')
    title = title.replace('&Ecirc;', 'ê')
    
    # Si el título termina con ", The", ajustar el formato
    if title.endswith(', The'):
        title = 'The ' + title[:-5]  # Mover "The" al principio del título
    return title

# Aplicar la función de limpieza a la columna 'titulo'
df_bechdel_movies_2023_limpio['title'] = df_bechdel_movies_2023_limpio['title'].apply(limpiar_titulo)

In [205]:
df_ver = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio["title"].str.contains("&")]
print(len(df_ver))

14

In [206]:
df_ver = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio["title"].str.contains("&")]
print(df_ver)

                                                    year  rating  dubious  \
title
Les Douze Travaux d&#146;Ast&eacute;rix (the Tw...  1976       1      0.0
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...  1993       3      0.0
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...  1994       3      0.0
Se upp f&ouml;r d&aring;rarna                       2007       3      0.0
L&aring;t den r&auml;tte komma in (Let the Righ...  2008       1      0.0
En duva satt p&aring; en gren och funderade p&a...  2014       1      0.0
Temp&ecirc;te                                       2015       1      0.0
Gr&uuml;&szlig;e aus Fukushima (Greetings from ...  2016       3      0.0
Quiet Girl (An Cail&iacute;n Ci&uacute;in), The     2022       3      0.0
Bob&#146;s Burgers Movie, The                       2022       3      0.0
Tyler Perry&#146;s Diary of a mad black woman       2005       3      0.0
Scooby-Doo! and The Witch&#146;s Ghost              1999       3      0.0
You Don&#146;t Mess with the Zohan                  2008       1      1.0
Don&#146;t Look Up                                  2021       3      0.0

                                                      imdbid     id década  \
title
Les Douze Travaux d&#146;Ast&eacute;rix (the Tw...     72901   2530  1970s
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...    106417   3330  1990s
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...    109277   3331  1990s
Se upp f&ouml;r d&aring;rarna                         959342   4060  2000s
L&aring;t den r&auml;tte komma in (Let the Righ...   1139797    668  2000s
En duva satt p&aring; en gren och funderade p&a...   1883180   5965  2010s
Temp&ecirc;te                                        3757648   6716  2010s
Gr&uuml;&szlig;e aus Fukushima (Greetings from ...   4667788   7231  2010s
Quiet Girl (An Cail&iacute;n Ci&uacute;in), The     15109082  10510  2020s
Bob&#146;s Burgers Movie, The                        7466442  10413  2020s
Tyler Perry&#146;s Diary of a mad black woman         422093  10336  2000s
Scooby-Doo! and The Witch&#146;s Ghost                196931  10331  1990s
You Don&#146;t Mess with the Zohan                    960144  10311  2000s
Don&#146;t Look Up                                  11286314  10168  2020s

                                                                                                title
title
Les Douze Travaux d&#146;Ast&eacute;rix (the Tw...  Les Douze Travaux d&´Astérix (the Twelve Tasks...
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...  Gekijô-ban - Bishôjo senshi S&ecirc;râ Mûn R (...
Gekij&ocirc;-ban - Bish&ocirc;jo senshi S&ecirc...  Gekijô-ban - Bishôjo senshi S&ecirc;râ Mûn S (...
Se upp f&ouml;r d&aring;rarna                                                Se upp för d&aring;rarna
L&aring;t den r&auml;tte komma in (Let the Righ...  L&aring;t den rätte komma in (Let the Right On...
En duva satt p&aring; en gren och funderade p&a...  En duva satt p&aring; en gren och funderade p&...
Temp&ecirc;te                                                                           Temp&ecirc;te
Gr&uuml;&szlig;e aus Fukushima (Greetings from ...  Grü&szlig;e aus Fukushima (Greetings from Fuku...
Quiet Girl (An Cail&iacute;n Ci&uacute;in), The               The Quiet Girl (An Cailín Ci&uacute;in)
Bob&#146;s Burgers Movie, The                                                The Bob&´s Burgers Movie
Tyler Perry&#146;s Diary of a mad black woman               Tyler Perry&´s Diary of a mad black woman
Scooby-Doo! and The Witch&#146;s Ghost                             Scooby-Doo! and The Witch&´s Ghost
You Don&#146;t Mess with the Zohan                                     You Don&´t Mess with the Zohan
Don&#146;t Look Up                                                                     Don&´t Look Up

In [207]:
df_ver = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio["title"].str.contains("#")]
print(len(df_ver))

8

In [208]:
df_bechdel_movies_2023_limpio.to_csv("bechdel_movies_2023_limpio.csv")