In [154]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [155]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-modulo4-sprint2-pairprogramming-Maite-Mirna-Alejandra-/files_originales/movies.csv", index_col = 0)
df.head()

,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
year,,,,,,,,,,,,,,
2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [156]:
df.shape[0]

1794

In [157]:
df.columns

Index(['imdb', 'title', 'test', 'clean_test', 'binary', 'budget', 'domgross',
       'intgross', 'code', 'budget_2013$', 'domgross_2013$', 'intgross_2013$',
       'period code', 'decade code'],
      dtype='object')

In [158]:
df["title"].value_counts()

Pride and Prejudice                   3
Hannibal                              2
The Illusionist                       2
Conan the Barbarian                   2
The Avengers                          2
                                     ..
In Bruges                             1
Igor                                  1
High School Musical 3: Senior Year    1
Herb &amp; Dorothy                    1
Beyond the Valley of the Dolls        1
Name: title, Length: 1768, dtype: int64

In [159]:
df["test"].value_counts()

ok                  696
notalk              379
notalk-disagree     135
men                 125
ok-disagree         107
nowomen              88
dubious              81
men-disagree         69
dubious-disagree     61
nowomen-disagree     53
Name: test, dtype: int64

In [160]:
df["clean_test"].value_counts()

ok         803
notalk     514
men        194
dubious    142
nowomen    141
Name: clean_test, dtype: int64

In [161]:
df["binary"].value_counts()

FAIL    991
PASS    803
Name: binary, dtype: int64

In [162]:
df.index.min()

1970

In [163]:
df.index.max()

2013

In [164]:
df["period code"].value_counts()

2.0    488
1.0    438
3.0    352
4.0    247
5.0     90
Name: period code, dtype: int64

In [165]:
df.sample(15)

,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
year,,,,,,,,,,,,,,
2000,tt0200550,Coyote Ugly,men-disagree,men,FAIL,45000000,60786269.0,115786269.0,2000FAIL,60880877,82238253.0,156648214.0,3.0,2.0
2013,tt1650554,Kick-Ass 2,ok,ok,PASS,28000000,28795985.0,60839197.0,2013PASS,28000000,28795985.0,60839197.0,1.0,1.0
2004,tt0414852,Banlieue 13,nowomen,nowomen,FAIL,15000000,1200216.0,11208291.0,2004FAIL,18497893,1480098.0,13821985.0,3.0,2.0
1989,tt0098546,UHF,notalk,notalk,FAIL,5000000,6157157.0,6157157.0,1989FAIL,9397944,11572924.0,11572924.0,NaN,NaN
2010,tt0892769,How to Train Your Dragon,ok,ok,PASS,165000000,217581231.0,494870991.0,2010PASS,176258254,232427199.0,528636950.0,1.0,1.0
1995,tt0113957,The Net,ok,ok,PASS,22000000,50621733.0,110521733.0,1995PASS,33633148,77389465.0,168963355.0,4.0,3.0
2009,tt1188729,Pandorum,notalk,notalk,FAIL,40000000,10330853.0,17033431.0,2009FAIL,43429264,11216534.0,18493734.0,2.0,2.0
1999,tt0144117,The Boondock Saints,nowomen-disagree,nowomen,FAIL,7000000,30471.0,411874.0,1999FAIL,9789234,42613.0,575990.0,4.0,3.0
2011,tt1324999,The Twilight Saga: Breaking Dawn - Part 1,ok,ok,PASS,127500000,281287133.0,709938657.0,2011PASS,132050575,291326492.0,735276926.0,1.0,1.0
2002,tt0303361,May,ok,ok,PASS,1750000,145540.0,497339.0,2002PASS,2266564,188500.0,644143.0,3.0,2.0
2003,tt0287978,Daredevil,nowomen-disagree,nowomen,FAIL,80000000,102543518.0,182782518.0,2003FAIL,101286957,129829011.0,231418562.0,3.0,2.0
2012,tt1298649,The Watch,men,men,FAIL,55000000,34353000.0,67353000.0,2012FAIL,55805121,34855879.0,68338951.0,1.0,1.0
1990,tt0099423,Die Hard 2,dubious-disagree,dubious,FAIL,70000000,117323878.0,239814025.0,1990FAIL,124808278,209185588.0,427582507.0,5.0,3.0
2012,tt1277953,Madagascar 3: Europe&#39;s Most Wanted,men-disagree,men,FAIL,145000000,216391482.0,746921271.0,2012FAIL,147122592,219559143.0,757855127.0,1.0,1.0
2008,tt0852713,The House Bunny,ok,ok,PASS,25000000,48237389.0,70237389.0,2008PASS,27056408,52205219.0,76014858.0,2.0,2.0

In [166]:
df["clean_test"].value_counts()

ok         803
notalk     514
men        194
dubious    142
nowomen    141
Name: clean_test, dtype: int64

In [167]:
valor_actual_a_nuevo_valor = {
    'ok': 3,
    'notalk': 1,
    'men': 2,
    'dubious': "dubious",
    'no women': 0,
    'nowomen': 0}

In [168]:
df['clean_test'] = df['clean_test'].replace(valor_actual_a_nuevo_valor)

In [169]:
df["clean_test"]

year
2013    1
2012    3
2013    1
2013    1
2013    2
       ..
1971    1
1971    1
1971    1
1971    2
1970    3
Name: clean_test, Length: 1794, dtype: object

In [170]:
df["clean_test"].value_counts()

3          803
1          514
2          194
dubious    142
0          141
Name: clean_test, dtype: int64

In [171]:
df.columns

Index(['imdb', 'title', 'test', 'clean_test', 'binary', 'budget', 'domgross',
       'intgross', 'code', 'budget_2013$', 'domgross_2013$', 'intgross_2013$',
       'period code', 'decade code'],
      dtype='object')

In [172]:
columnas_a_eliminar = ['test', 'code', "period code", "decade code", 'budget_2013$', 'domgross_2013$', 'intgross_2013$']

df_movies_limpio = df.drop(columnas_a_eliminar, axis=1)

In [173]:
df_movies_limpio.head()

,imdb,title,clean_test,binary,budget,domgross,intgross
year,,,,,,,
2013,tt1711425,21 &amp; Over,1,FAIL,13000000,25682380.0,42195766.0
2012,tt1343727,Dredd 3D,3,PASS,45000000,13414714.0,40868994.0
2013,tt2024544,12 Years a Slave,1,FAIL,20000000,53107035.0,158607035.0
2013,tt1272878,2 Guns,1,FAIL,61000000,75612460.0,132493015.0
2013,tt0453562,42,2,FAIL,40000000,95020213.0,95020213.0

In [174]:
df_ver = df[df["title"].str.contains("&")]
df_ver

,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
year,,,,,,,,,,,,,,
2013,tt1711425,21 &amp; Over,notalk,1,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
2013,tt1731141,Ender&#39;s Game,men,2,FAIL,110000000,61737191.0,89737191.0,2013FAIL,110000000,61737191.0,89737191.0,1.0,1.0
2013,tt1428538,Hansel &amp; Gretel: Witch Hunters,ok,3,PASS,50000000,55703475.0,225703475.0,2013PASS,50000000,55703475.0,225703475.0,1.0,1.0
2013,tt1327773,Lee Daniels&#39; The Butler,ok,3,PASS,30000000,116632095.0,151513429.0,2013PASS,30000000,116632095.0,151513429.0,1.0,1.0
2013,tt1980209,Pain &amp; Gain,notalk,1,FAIL,26000000,49875291.0,81275291.0,2013FAIL,26000000,49875291.0,81275291.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,tt0080492,Can&#39;t Stop the Music,ok,3,PASS,20000000,2000000.0,2000000.0,1980PASS,56555357,5655536.0,5655536.0,NaN,NaN
1980,tt0080855,Heaven&#39;s Gate,nowomen,0,FAIL,44000000,3484331.0,3484331.0,1980FAIL,124421786,9852879.0,9852879.0,NaN,NaN
1976,tt0074812,Logan&#39;s Run,men,2,FAIL,7000000,25000000.0,25000000.0,1976FAIL,28642791,102295681.0,102295681.0,NaN,NaN
1975,tt0073486,One Flew Over the Cuckoo&#39;s Nest,men,2,FAIL,4400000,108981275.0,108981275.0,1975FAIL,19043641,471681892.0,471681892.0,NaN,NaN
1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,men-disagree,2,FAIL,3000000,4000000.0,4000000.0,1971FAIL,17263543,23018057.0,23018057.0,NaN,NaN

In [175]:
print(len(df_ver))

98

In [176]:
df.columns

Index(['imdb', 'title', 'test', 'clean_test', 'binary', 'budget', 'domgross',
       'intgross', 'code', 'budget_2013$', 'domgross_2013$', 'intgross_2013$',
       'period code', 'decade code'],
      dtype='object')

In [177]:
def limpiar_titulo(title):
    # sustituir 
    title = title.replace('&amp;', 'and')
    title = title.replace('&#39;', '´')
    title = title.replace('&eacute;', 'é')
    title = title.replace('&egrave;', 'è')
    title = title.replace('&agrave;', 'à')
    title = title.replace('&#150;&nbsp;', '-')
    title = title.replace('&#305;', 'i')
    title = title.replace('&quot;', '')
    title = title.replace('&ouml;', 'ö')
    title = title.replace('&auml;', 'ä')
    title = title.replace('&uuml;', 'ü')
    title = title.replace('#146;', '´')
    title = title.replace('&iacute;', 'í')
    title = title.replace('&eth;', 'd')
    title = title.replace('&ocirc;', 'ô')
    title = title.replace('&ucirc;', 'û')
    title = title.replace('&acute;', '´')
    title = title.replace('&frac12;', '1/2')
    title = title.replace('&ograve;', 'ò')
    title = title.replace('d&#146;', 'd´')
    title = title.replace('&ugrave;', 'ù')
    title = title.replace('&#378;', 'z')
    title = title.replace('&euml;', 'ë')
    title = title.replace('&Aacute;', 'Á')
    title = title.replace('&aacute;', 'á')
    title = title.replace('&oslash;', 'o')
    title = title.replace('&acirc;', 'â')
    title = title.replace('&#146;t', '´t')
    title = title.replace('&ntilde;', 'ñ')
    title = title.replace('&oacute;', 'ó')
    title = title.replace('&atilde;o', 'a')
    title = title.replace('&Ecirc;', 'ê')
    
     # Si el título termina con ", The", ajustar el formato
    if title.endswith(', The'):
        title = 'The ' + title[:-5]  # Mover "The" al principio del título
    return title

# Aplicar la función de limpieza a la columna 'titulo'
df['title'] = df['title'].apply(limpiar_titulo)

In [178]:
print(len(df_ver))

98

In [179]:
df_movies_limpio['year'] = df_movies_limpio.index

In [180]:
df_movies_limpio["year"].min()

1970

In [181]:
df_movies_limpio["year"].max()

2013

In [182]:
df_movies_limpio["clean_test"].value_counts()

3          803
1          514
2          194
dubious    142
0          141
Name: clean_test, dtype: int64

In [183]:
decadas_dict = {
    '1970s': range(1970, 1980),
    '1980s': range(1980, 1990),
    '1990s': range(1990, 2000),
    '2000s': range(2000, 2010),
    '2010s': range(2010, 2020),  # Include 2019 in this decade
}

# asignar decadas
def get_decade(year):
    for decade, year_range in decadas_dict.items():
        if year in year_range:
            return decade

df_movies_limpio['década'] = df_movies_limpio['year'].apply(get_decade)

In [184]:
df_no_disponible = df_movies_limpio[df_movies_limpio['década'] == "No disponible"]

# Mostrar las filas donde 'década' es "No disponible"
print(df_no_disponible)

Empty DataFrame
Columns: [imdb, title, clean_test, binary, budget, domgross, intgross, year, década]
Index: []

In [185]:
df_movies_limpio["década"].value_counts()

2000s    840
2010s    438
1990s    337
1980s    125
1970s     54
Name: década, dtype: int64

In [186]:
df_movies_limpio["year"].isnull().any()

False

In [187]:
df_movies_limpio.head()
df_movies_limpio.tail()

,imdb,title,clean_test,binary,budget,domgross,intgross,year,década
year,,,,,,,,,
1971,tt0067741,Shaft,1,FAIL,53012938,70327868.0,107190108.0,1971,1970s
1971,tt0067800,Straw Dogs,1,FAIL,25000000,10324441.0,11253821.0,1971,1970s
1971,tt0067116,The French Connection,1,FAIL,2200000,41158757.0,41158757.0,1971,1970s
1971,tt0067992,Willy Wonka &amp; the Chocolate Factory,2,FAIL,3000000,4000000.0,4000000.0,1971,1970s
1970,tt0065466,Beyond the Valley of the Dolls,3,PASS,1000000,9000000.0,9000000.0,1970,1970s

In [188]:
df_movies_limpio["year"].isnull().any()

False

In [189]:

df_movies_limpio.to_csv('movies_limpio.csv')