In [6]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [7]:
df = pd.read_csv("/Users/maite/Desktop/ADALAB/modulo-4/ejercicios/promoG-DA-modulo4-sprint2-Maite_Mirna-Alejandra/files_originales/bechdel_movies_2023_FEB.csv", index_col = 0)
df.head()

,year,rating,dubious,imdbid,id,submitterid,date,visible
title,,,,,,,,
Passage de Venus,1874,0,0.0,3155794,9602,18880,2021-04-02 20:58,1
La Rosace Magique,1877,0,0.0,14495706,9804,19145,2021-05-11 0:11,1
Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,18882,2021-04-03 2:25,1
Le singe musicien,1878,0,0.0,12592084,9806,19151,2021-05-11 23:38,1
Athlete Swinging a Pick,1881,0,0.0,7816420,9816,19162,2021-05-13 1:32,1

In [8]:
df.columns

Index(['year', 'rating', 'dubious', 'imdbid', 'id', 'submitterid', 'date',
       'visible'],
      dtype='object')

In [9]:
columnas_a_eliminar = ['submitterid', 'date','visible']
df_bechdel_movies_2023_limpio = df.drop(columnas_a_eliminar, axis=1)

In [10]:
df_bechdel_movies_2023_limpio.head()

                            year  rating  dubious    imdbid    id
title
Passage de Venus            1874       0      0.0   3155794  9602
La Rosace Magique           1877       0      0.0  14495706  9804
Sallie Gardner at a Gallop  1878       0      0.0   2221420  9603
Le singe musicien           1878       0      0.0  12592084  9806
Athlete Swinging a Pick     1881       0      0.0   7816420  9816

In [11]:
df_bechdel_movies_2023_limpio["year"].max()

2023

In [12]:
# Define el diccionario de d√©cadas
decadas_dict = {
    '1870s': range(1870, 1880),
    '1880s': range(1880, 1890),
    '1890s': range(1890, 1900),
    '1900s': range(1900, 1910),
    '1910s': range(1910, 1920),
    '1920s': range(1920, 1930),
    '1930s': range(1930, 1940),
    '1940s': range(1940, 1950),
    '1950s': range(1950, 1960),
    '1960s': range(1960, 1970),
    '1970s': range(1970, 1980),
    '1980s': range(1980, 1990),
    '1990s': range(1990, 2000),
    '2000s': range(2000, 2010),
    '2010s': range(2010, 2020),
    '2020s': range(2020, 2030),
    
}

# Asigna d√©cadas
def get_decade(year):
    for decade, year_range in decadas_dict.items():
        if int(year) in year_range:
            return decade
    # Manejo de excepciones: si el a√±o no est√° en ning√∫n rango de d√©cadas, devuelve un valor predeterminado
    return 'No disponible'


# Aplica la funci√≥n para crear la columna 'd√©cada'
df_bechdel_movies_2023_limpio['d√©cada'] = df_bechdel_movies_2023_limpio['year'].apply(get_decade)

In [13]:
df_no_disponible = df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio['d√©cada'] == "No disponible"]

# Mostrar las filas donde 'd√©cada' es "No disponible"
print(df_no_disponible)

Empty DataFrame
Columns: [year, rating, dubious, imdbid, id, d√©cada]
Index: []

In [14]:
df_bechdel_movies_2023_limpio["year"].isnull().any()

False

In [15]:
df_bechdel_movies_2023_limpio["d√©cada"].value_counts()

2010s    3391
2000s    2307
1990s    1139
1980s     700
2020s     486
1970s     465
1960s     417
1950s     306
1940s     246
1930s     207
1920s      83
1890s      67
1900s      42
1910s      26
1880s      16
1870s       4
Name: d√©cada, dtype: int64

In [16]:
df_bechdel_movies_2023_limpio[df_bechdel_movies_2023_limpio["title"] == "Willow"]

KeyError: 'title'

In [ ]:
df_bechdel_movies_2023_limpio.head()

                            year  rating  dubious    imdbid    id d√©cada
title
Passage de Venus            1874       0      0.0   3155794  9602  1870s
La Rosace Magique           1877       0      0.0  14495706  9804  1870s
Sallie Gardner at a Gallop  1878       0      0.0   2221420  9603  1870s
Le singe musicien           1878       0      0.0  12592084  9806  1870s
Athlete Swinging a Pick     1881       0      0.0   7816420  9816  1880s

In [ ]:
df.columns

Index(['year', 'rating', 'dubious', 'imdbid', 'id', 'submitterid', 'date',
       'visible'],
      dtype='object')

In [ ]:
df_bechdel_movies_2023_limpio['title'] = df_bechdel_movies_2023_limpio.index

In [ ]:
df_bechdel_movies_2023_limpio.head()

,year,rating,dubious,imdbid,id,d√©cada,title
title,,,,,,,
Passage de Venus,1874,0,0.0,3155794,9602,1870s,Passage de Venus
La Rosace Magique,1877,0,0.0,14495706,9804,1870s,La Rosace Magique
Sallie Gardner at a Gallop,1878,0,0.0,2221420,9603,1870s,Sallie Gardner at a Gallop
Le singe musicien,1878,0,0.0,12592084,9806,1870s,Le singe musicien
Athlete Swinging a Pick,1881,0,0.0,7816420,9816,1880s,Athlete Swinging a Pick

In [ ]:
df_bechdel_movies_2023_limpio["d√©cada"].value_counts()

2010s    3391
2000s    2307
1990s    1139
1980s     700
2020s     486
1970s     465
1960s     417
1950s     306
1940s     246
1930s     207
1920s      83
1890s      67
1900s      42
1910s      26
1880s      16
1870s       4
Name: d√©cada, dtype: int64

In [ ]:
df_bechdel_movies_2023_limpio["d"]

In [ ]:
# Limpiar los t√≠tulos de las pel√≠culas
def limpiar_titulo(title):
    # Eliminar comillas si est√°n presentes
    title = title.replace('"', '')
    # Si el t√≠tulo termina con ", The", ajustar el formato
    if title.endswith(', The'):
        title = 'The ' + title[:-5]  # Mover "The" al principio del t√≠tulo
    return title

# Aplicar la funci√≥n de limpieza a la columna 'titulo'
df_bechdel_movies_2023_limpio['title'] = df_bechdel_movies_2023_limpio['title'].apply(limpiar_titulo)

In [ ]:
df_bechdel_movies_2023_limpio.to_csv("bechdel_movies_2023_limpio.csv")